## Part B 
Logistic Regression
----------------------------------------------------------------------------------

<div style="color:black; border-radius: 5px; background-color:#E7E9EB;padding: 10px;">
    <p style="  padding: 5px;"><b>Finding 1 : </b>
       Importing Libraries
 </p>
</div>

<div style="color:black; border-radius: 5px; margin: 5px 0;font-family:'Source Sans Pro', sans-serif;">
 <h4 style="border-left: 4px solid #96D4D4; background: #D9EEE1; padding: 5px; font-family:'Source Sans Pro', sans-serif;">Code</h4>
</div>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

<div style="color:black; border-radius: 5px; background-color:#E7E9EB;padding: 10px;">
    <p style="  padding: 5px;"><b>Finding 2 : </b>
       Load Dataset
 </p>
</div>

<div style="color:black; border-radius: 5px; margin: 5px 0;font-family:'Source Sans Pro', sans-serif;">
 <h4 style="border-left: 4px solid #96D4D4; background: #D9EEE1; padding: 5px; font-family:'Source Sans Pro', sans-serif;">Code</h4>
</div>

In [2]:
dataset = pd.read_csv('heart.csv')

In [3]:
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

<div style="color:black; border-radius: 5px; background-color:#E7E9EB;padding: 10px;">
    <p style="  padding: 5px;"><b>Finding 3 : </b>
       Define X and Y for simple linear regression 
 </p>
</div>

<div style="color:black; border-radius: 5px; margin: 5px 0;font-family:'Source Sans Pro', sans-serif;">
 <h4 style="border-left: 4px solid #96D4D4; background: #D9EEE1; padding: 5px; font-family:'Source Sans Pro', sans-serif;">Code</h4>
</div>

In [4]:
X = dataset[["trestbps" , "chol" , "thalach" , "oldpeak"]]

In [5]:
X

     trestbps  chol  thalach  oldpeak
0         145   233      150      2.3
1         130   250      187      3.5
2         130   204      172      1.4
3         120   236      178      0.8
4         120   354      163      0.6
..        ...   ...      ...      ...
298       140   241      123      0.2
299       110   264      132      1.2
300       144   193      141      3.4
301       130   131      115      1.2
302       130   236      174      0.0

[303 rows x 4 columns]

In [6]:
X.shape

(303, 4)

In [7]:
y = dataset[["target"]]

In [8]:
y

     target
0         1
1         1
2         1
3         1
4         1
..      ...
298       0
299       0
300       0
301       0
302       0

[303 rows x 1 columns]

In [9]:
y.shape

(303, 1)

<div style="color:black; border-radius: 5px; background-color:#E7E9EB;padding: 10px;">
    <p style="  padding: 5px;"><b>Finding 4 : </b>
       Visualizaing the data
 </p>
</div>

<div style="color:black; border-radius: 5px; margin: 5px 0;font-family:'Source Sans Pro', sans-serif;">
 <h4 style="border-left: 4px solid #96D4D4; background: #D9EEE1; padding: 5px; font-family:'Source Sans Pro', sans-serif;">Code</h4>
</div>

<div style="color:black; border-radius: 5px; background-color:#E7E9EB;padding: 10px;">
    <p style="  padding: 5px;"><b>Finding 5 : </b>
       Implementation 
 </p>
</div>

<div style="color:black; border-radius: 5px; margin: 5px 0;font-family:'Source Sans Pro', sans-serif;">
 <h4 style="border-left: 4px solid #96D4D4; background: #D9EEE1; padding: 5px; font-family:'Source Sans Pro', sans-serif;">Code</h4>
</div>

<div style="color:black; border-radius: 5px; background-color:#E7E9EB;padding: 10px;">
    <p style="  padding: 5px;"><b>Finding 5.1 : </b>
       Sigmoid Function
 </p>
</div>

<div style="color:black; border-radius: 5px; margin: 5px 0;font-family:'Source Sans Pro', sans-serif;">
 <h4 style="border-left: 4px solid #96D4D4; background: #D9EEE1; padding: 5px; font-family:'Source Sans Pro', sans-serif;">Code</h4>
</div>

In [26]:
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

In [27]:
print(sigmoid(1))

0.7310585786300049

<div style="color:black; border-radius: 5px; background-color:#E7E9EB;padding: 10px;">
    <p style="  padding: 5px;"><b>Finding 5.2 : </b>
       Cost Function
 </p>
</div>

<div style="color:black; border-radius: 5px; margin: 5px 0;font-family:'Source Sans Pro', sans-serif;">
 <h4 style="border-left: 4px solid #96D4D4; background: #D9EEE1; padding: 5px; font-family:'Source Sans Pro', sans-serif;">Code</h4>
</div>

In [28]:
theta = np.zeros( (4 , 1) )
theta

array([[0.],
       [0.],
       [0.],
       [0.]])

In [66]:
def hypothesis(Result , y):
    hypothesis = np.zeros((len(y) , 1))
     
    for i in range(1):
        counter = 0
        for j in range(len(Result[i])):
            #print(Result[i][j])
            hypothesis[counter] = sigmoid(Result[i][j])
            counter = counter + 1

In [62]:
def costFunction(theta , X , y):
    m = len(y)
    hypothesis = np.zeros((len(y) , 1))
    
    Result = X @ theta  
    
    for i in range(1):
        counter = 0
        for j in range(len(Result[i])):
            #print(Result[i][j])
            hypothesis[counter] = sigmoid(Result[i][j])
            counter = counter + 1
            
    J = (1/m) * ( np.dot(-y.T , np.log(hypothesis)) - np.dot((1 - y).T , np.log(1 - hypothesis)) )
    
    return J

print("CostFunction = " , costFunction(theta , X , y))

CostFunction =  [[0.69314718]]

<div style="color:black; border-radius: 5px; background-color:#E7E9EB;padding: 10px;">
    <p style="  padding: 5px;"><b>Finding 5.3 : </b>
       Gradient Descent
 </p>
</div>

<div style="color:black; border-radius: 5px; margin: 5px 0;font-family:'Source Sans Pro', sans-serif;">
 <h4 style="border-left: 4px solid #96D4D4; background: #D9EEE1; padding: 5px; font-family:'Source Sans Pro', sans-serif;">Code</h4>
</div>

In [71]:
def gradient_descent_logistic(X , y , theta , alpha , num_iters):
    
    J_History = np.zeros((num_iters , 1))
    
    for i in range(num_iters):
        
        hypo = hypothesis(X @ theta , y)
        error = hypothesis - y
        
        print("Error in iteration-" , i , " = " , error)
        
        theta = theta - alpha * (1/m) * (X.T @ error)
        
        J_History[i] = costFunction(theta , X , y )
        
    return theta , J_History

In [72]:
""" Test gradient descent """
theta = np.zeros((4 , 1))
alpha = 0.001
num_iter = 1500

#new_theta , J_History = gradient_descent_logistic(X , y , theta , alpha , num_iter)